/*login styles*/
.l-login {
  min-height: calc(100vh);
}
.b-login {
  width: 400px;
  padding: 0 0 50px;
}
.b-login__btnWrapper {
  margin: 20px 0 15px;
}
.b-login__siteTitle {
  margin-top: 0;
  line-height: 1;
}
.b-login__errorMessage {
  margin: 15px 0;
}

/*list styles*/
.b-list 
  padding-bottom: 0
  padding-top: 0
  
.b-routeLink,  .b-routeLink:hover
  color: #0c0c0c

.b-routeLink:hover .q-item
  background: #d6d6d6

.b-routeLink.router-link-active
  cursor: default

.b-routeLink.router-link-active .q-item, .b-routeLink.router-link-active:hover .q-item
  background: #dcdcdc

/*table styles*/
.b-table {
  width: 100%;
}
.b-table thead {
  background: #000;
  color: #fff;
}

/*user dropdown styles*/
.b-user {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.b-user__name {
  padding: 0 12px;
}
.b-user__status {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #04e604;
}